
@import '../../node_modules/vuetify/settings';
@import '../../node_modules/vuetify/styles';
@import '../../node_modules/vuetify/tools';
// @import '../assets//fonts/apercu/apercu.css';

$vuetify-font-family: 'Apercu', sans-serif;

.v-app {
  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6,
  .text-subtitle-1,
  .text-subtitle-2,
  .text-body-1,
  .text-body-2,
  .text-button,
  .text-caption,
  .text-overline {
    font-family: 'Apercu', sans-serif !important;
  }
}

.invisible {
  visibility: hidden;
}
.clickable {
  cursor: pointer !important;
}
